<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--公用Header的CSS文件-->
<head th:fragment="commonHeaderCSS(title)">
    <meta charset="UTF-8">

    <title th:text="${title}"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="../../static/global/plugins/font-awesome/css/font-awesome.min.css" th:href="@{/static/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link href="../../static/global/plugins/simple-line-icons/simple-line-icons.min.css" th:href="@{/static/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css" />
    <link href="../../static/global/plugins/bootstrap/css/bootstrap.css" th:href="@{/static/global/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css" />
    <link href="../../static/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" th:href="@{/static/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="../../static/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" th:href="@{/static/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css}" rel="stylesheet" type="text/css" />
    <link href="../../static/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" th:href="@{/static/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css}" rel="stylesheet" type="text/css" />
    <link href="../../static/global/plugins/clockface/css/clockface.css" th:href="@{/static/global/plugins/clockface/css/clockface.css}" rel="stylesheet" type="text/css" />

    <link href="../../static/global/plugins/morris/morris.css" th:href="@{/static/global/plugins/morris/morris.css}" rel="stylesheet" type="text/css" />
    <link href="../../static/global/plugins/fullcalendar/fullcalendar.min.css" th:href="@{/static/global/plugins/fullcalendar/fullcalendar.min.css}" rel="stylesheet" type="text/css" />
    <link href="../../static/global/plugins/jqvmap/jqvmap/jqvmap.css" th:href="@{/static/global/plugins/jqvmap/jqvmap/jqvmap.css}" rel="stylesheet" type="text/css" />

    <link href="../../static/global/plugins/bootstrap-select/css/bootstrap-select.min.css" th:href="@{/static/global/plugins/bootstrap-select/css/bootstrap-select.min.css}" rel="stylesheet" type="text/css" />
    <link href="../../static/global/plugins/jquery-multi-select/css/multi-select.css" th:href="@{/static/global/plugins/jquery-multi-select/css/multi-select.css}" rel="stylesheet" type="text/css" />

    <link href="../../static/global/plugins/select2/css/select2.min.css" th:href="@{/static/global/plugins/select2/css/select2.min.css}" rel="stylesheet" type="text/css" />
    <link href="../../static/global/plugins/select2/css/select2-bootstrap.min.css" th:href="@{/static/global/plugins/select2/css/select2-bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link href="../../static/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" th:href="@{/static/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css}" rel="stylesheet" type="text/css" />

    <link href="../../static/global/plugins/bootstrap-sweetalert/sweetalert.css" th:href="@{/static/global/plugins/bootstrap-sweetalert/sweetalert.css}" rel="stylesheet" type="text/css" />

    <link href="../../static/global/plugins/icheck/skins/all.css" th:href="@{/static/global/plugins/icheck/skins/all.css}" rel="stylesheet" type="text/css" />

    <link href="../../static/global/plugins/Guriddo_jqGrid_JS_5.2.0/css/ui.jqgrid-bootstrap-ui.css" th:href="@{/static/global/plugins/Guriddo_jqGrid_JS_5.2.0/css/ui.jqgrid-bootstrap-ui.css}" rel="stylesheet" type="text/css" />
    <link href="../../static/global/plugins/Guriddo_jqGrid_JS_5.2.0/css/ui.jqgrid-bootstrap.css" th:href="@{/static/global/plugins/Guriddo_jqGrid_JS_5.2.0/css/ui.jqgrid-bootstrap.css}" rel="stylesheet" type="text/css" />

    <link href="../../static/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" th:href="@{/static/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css}" rel="stylesheet" type="text/css" />
    <link href="../../static/global/plugins/bootstrap-modal/css/bootstrap-modal.css" th:href="@{/static/global/plugins/bootstrap-modal/css/bootstrap-modal.css}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->

    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="../../static/global/css/components.css" th:href="@{/static/global/css/components.css}" rel="stylesheet" id="style_components" type="text/css" />
    <link href="../../static/global/css/plugins.min.css" th:href="@{/static/global/css/plugins.min.css}" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->

    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="../../static/layouts/layout/css/layout.css" th:href="@{/static/layouts/layout/css/layout.css}" rel="stylesheet" type="text/css" />
    <link href="../../static/layouts/layout/css/themes/darkblue.css" th:href="@{/static/layouts/layout/css/themes/darkblue.css}" rel="stylesheet" type="text/css" id="style_color" />
    <link href="../../static/layouts/layout/css/custom.css" th:href="@{/static/layouts/layout/css/custom.css}" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
</head>

</html>