<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="reportList">
    <script th:src="@{/static/pages/js/videoList.js}"></script>

    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <span>首页</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>视频信息</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>视频列表</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <!-- END PAGE HEADER-->

    <!-- 列表 jqgrid start -->
    <div class="row">

        <div class="col-md-12">
            <br/>

            <div class="videoList_wrapper">
                <table id="videoList"></table>
                <div id="videoListPager"></div>
            </div>

        </div>
    </div>
    <!-- 列表 jqgrid end -->
</div>

</body>
</html>