<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>倾心短视频后台管理系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <link th:href="@{/static/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/global/plugins/simple-line-icons/simple-line-icons.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/global/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link th:href="@{/static/global/plugins/select2/css/select2.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/global/plugins/select2/css/select2-bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/static/global/plugins/bootstrap-sweetalert/sweetalert.css}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link th:href="@{/static/global/css/components.min.css}" rel="stylesheet" id="style_components" type="text/css" />
    <link th:href="@{/static/global/css/plugins.min.css}" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link th:href="@{/static/pages/css/login-2.min.css}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->

    <link rel="shortcut icon" href="/portal/image/itzixi_favicon.ico" type="image/x-icon">

    <style type="text/css">
        .help-block {
            display: block;
            margin-top: 5px;
            margin-bottom: 10px;
            color: red;
        }
    </style>
</head>
<body class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="/">
            <img th:src="@{/static/pages/img/logos/logo.png}" />
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form">

            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">用户名</label>
                <div id="input-error1">
                    <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="用户名" name="username" /> </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">密码</label>
                <div id="input-error2">
                    <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="密码" name="password" /> </div>
            </div>


            <div class="form-actions" style="padding: 0 30px 15px;">
                <button type="submit" class="btn red btn-block uppercase">登 录</button>
            </div>
            <div class="create-account">
                <p>
                    <a href="javascript:;" class="btn-primary btn" id="register-btn">注 册 用 户</a>
                </p>
            </div>
        </form>
        <!-- END LOGIN FORM -->

        <!-- BEGIN REGISTRATION FORM -->
        <form class="register-form">
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">用户名</label>
                <div id="input-error3">
                    <input class="form-control placeholder-no-fix" type="text" placeholder="用户名" name="username" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">密码</label>
                <div id="input-error4">
                    <input class="form-control placeholder-no-fix" type="text" placeholder="密码" name="password" />
                </div>
            </div>
            <div class="form-actions">
                <button type="button" id="register-back-btn" class="btn btn-default">返 回</button>
            </div>
        </form>
        <!-- END REGISTRATION FORM -->
    </div>

    <input type="hidden" id="hdnContextPath" name="hdnContextPath" value="<%=request.getContextPath() %>"/>

    <!--[if lt IE 9]>
    <script src="../assets/global/plugins/respond.min.js"></script>
    <script src="../assets/global/plugins/excanvas.min.js"></script>
    <script src="../assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->

    <!-- 公用尾部JS start -->
    <div th:replace="/common/commonFooterJS::loadFooterJS"></div>
    <!-- 公用尾部JS end -->

    <script th:src="@{/static/pages/js/login.js}"></script>

</body>
</html>