<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .desc {
            line-height:18px;
            text-indent:2em;
        }
    </style>
</head>
<body>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="index.html">首页</a>
            </li>
        </ul>
    </div>

    <h1 class="page-title"> 倾心短视频后台管理系统 </h1>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-lg-6 col-xs-12 col-sm-12">

            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-microphone font-dark hide"></i>
                        <span class="caption-subject bold font-dark uppercase"> 平台技术简介</span>
                        <span class="caption-helper">小程序后台接口  + 短视频后台管理</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-widget-3" style="padding-top: 15px;">
                                <p class="desc"><font style="font-size: 16px;"><b>小程序api - 技术选型：</b></font></p>
                                <p class="desc">1、核心框架：Spring Boot 2.0.5.RELEASE</p>
                                <p class="desc">2、持久层框架：MyBatis 3.4.5 + PageHelper 5.1.2</p>
                                <p class="desc">3、MySQL 5.1.9</p>
                                <p class="desc">4、数据库连接池：阿里巴巴 Druid 1.1.0</p>
                                <p class="desc">5、spring-data-redis：1.8.7.RELEASE</p>
                                <p class="desc">6、Swagger2：2.4.0</p>
                                <p class="desc">7、FFmpeg：2.0.1.1</p>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-12">
                            <div class="mt-widget-3" style="padding-top: 15px;">
                                <p class="desc"><font style="font-size: 16px;"><b>短视频后台 - 技术选型：</b></font></p>
                                <p class="desc">1、核心框架：Spring Framework 4.3.8.RELEASE</p>
                                <p class="desc">2、持久层框架：MyBatis 3.2.8 + PageHelper 4.1.3</p>
                                <p class="desc">3、MySQL 5.1.9</p>
                                <p class="desc">4、数据库连接池：阿里巴巴 Druid 1.1.0</p>
                                <p class="desc">5、Jackson：2.7.4</p>
                                <p class="desc">6、slf4j：1.7.21</p>
                                <p class="desc">7、前端框架：Bootstrap + Jquery</p>
                                <p class="desc">8、模板：Thymeleaf</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6 col-xs-12 col-sm-12">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-microphone font-dark hide"></i>
                        <span class="caption-subject bold font-dark uppercase">文章推荐</span>
                    </div>
                </div>
                <div class="portlet-body ">
                    <div class="row ">
                        <div class="col-md-12 " >
                            <h4><a href="https://www.jianshu.com/p/6aab5381ee1d" target="_blank">《SqlFaker：轻量级、易拓展的Java数据库智能填充开源库》</a></h4>
                        </div>
                    </div>
                    <div class="row " style="margin-top: 10px;">
                        <div class="col-md-12 " >
                            <h4><a href="https://www.jianshu.com/p/a710e3a47b7c" target="_blank">《python-sql-faker：轻量级、易拓展的数据库智能填充开源库（Python实现版）》</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>